[Unit]
Description=leds script

[Service]
ExecStart=/home/user/leds.sh
Restart=always
RestartSec=2
Environment=LED_OFF=0
[Install]
WantedBy=multi-user.target
